<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}
            {% endblock %}</title>
        <link rel="stylesheet" 
        href="{{ url_for('static', filename='style.css') }}" />
        <script defer type="text/javascript" src="{{url_for('static', filename='script.js')}}" ></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>