{% extends 'base.html' %}
{% block content %}
    <!--Write Chat-gpt's response-->
    <p>
        <!--{{ response }}-->
    </p>

    <!--Section to take as input a question-->
    <form method="post">
        {{ form.*.label }} {{ form.*() }}
        <input type="submit" />
    </form>
{% end block %}